/*
#############################
#                           #
#  Fachhochschule Salzburg  #
#  MMT-B2010 WS2011         #
#  QPT2a - NewsMinds        #
#  Brünner Franz Josef      #
#  Fritsch Andreas          #
#                           #
#############################
*/

* {
padding: 0;
margin: 0;	
}

body {
font-family: "Times New Roman", serif;
background-image: -o-linear-gradient(top, rgb(210, 210, 190) 0, rgb(230, 230, 200) 200px);
background-image: -webkit-linear-gradient(top, rgb(210, 210, 190) 0, rgb(230, 230, 200) 200px);
background-image: -moz-linear-gradient(top, rgb(210, 210, 190) 0, rgb(230, 230, 200) 200px);
background-image: linear-gradient(top, rgb(210, 210, 190) 0, rgb(230, 230, 200) 200px);
width: 1024px;
margin-left: auto;
margin-right: auto;
margin-top: 20px;
margin-bottom: 20px;
color: rgb(0, 0, 0);
/*box-shadow: 10px 10px 6px rgb(100, 100, 100);*/
border-radius: 5px 5px 5px 5px;
border: 1px solid rgb(0, 0, 0);
}

#wrapper {
background-image: -o-linear-gradient(bottom, rgb(210, 210, 190) 0, rgb(230, 230, 200) 100%);
background-image: -moz-linear-gradient(bottom, rgb(210, 210, 190) 0, rgb(230, 230, 200) 100%);
background-image: -webkit-linear-gradient(bottom, rgb(210, 210, 190) 0, rgb(230, 230, 200) 100%);
background-image: linear-gradient(bottom, rgb(210, 210, 190) 0, rgb(230, 230, 200) 100%);
padding-bottom: 10px;
}

#header {
float: left;
width: 1002px;
padding: 0.2em 0 0.2em 0;
border-radius: 5px 5px 5px 5px;
border: 1px solid rgb(120, 120, 110);
color: rgb(255, 255, 255);
text-shadow: 0 -2px 2px rgb(100, 100, 100), 0 4px 6px rgb(100, 100, 100);
background-color: rgb(110, 110, 100);
background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0.1) 50%, transparent 50%, rgba(255, 255, 255, 0.1) 100%);
background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0.1) 50%, transparent 50%, rgba(255, 255, 255, 0.1) 100%);
background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0.1) 50%, transparent 50%, rgba(255, 255, 255, 0.1) 100%);
background-image: linear-gradient(top, rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0.1) 50%, transparent 50%, rgba(255, 255, 255, 0.1) 100%);
box-shadow: inset -1px 0 1px rgba(255, 255, 255, 0.2), inset 1px 0 1px rgba(255, 255, 255, 0.2), inset 0 0 15px rgba(255, 255, 255, 0.2);
margin: 10px 0 10px 10px;
}

#header form {
float: right;
}

#header tr {
float: right;
}

#header span {
font-weight: bold;
}

#logo {
clear: both;
width: 1002px;
margin: 10px 0 10px 10px;
border: 1px solid rgb(120, 120, 110);
border-radius: 5px 5px 5px 5px;
color: rgb(255, 255, 255);
background-color: rgb(110, 110, 100);
text-shadow: 0 -2px 2px rgb(100, 100, 100), 0 4px 6px rgb(100, 100, 100);
background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0.1) 50%, transparent 50%, rgba(255, 255, 255, 0.1) 100%);
background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0.1) 50%, transparent 50%, rgba(255, 255, 255, 0.1) 100%);
background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0.1) 50%, transparent 50%, rgba(255, 255, 255, 0.1) 100%);
background-image: linear-gradient(top, rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0.1) 50%, transparent 50%, rgba(255, 255, 255, 0.1) 100%);
box-shadow: inset -1px 0 1px rgba(255, 255, 255, 0.2), inset 1px 0 1px rgba(255, 255, 255, 0.2), inset 0 0 15px rgba(255, 255, 255, 0.2);
font-size: 96pt;
font-weight: normal;
font-style: italic;
text-align: center;
}

#menu ul {
margin-left: 10px;
color: rgb(255, 255, 255);
list-style:none;
}

#menu ul li {
line-height: 1;
text-align: center;
width: 166px;
float: left;
margin-right: -1px;
box-shadow: inset -1px 0 1px rgba(255, 255, 255, 0.2), inset 1px 0 1px rgba(255, 255, 255, 0.2), inset 0 0 15px rgba(255, 255, 255, 0.2);
text-shadow: 0 -1px 1px rgb(80, 80, 80), 0 2px 3px rgb(80, 80, 80);
background-color: rgb(110, 110, 100);
background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0.1) 50%, transparent 50%, rgba(255, 255, 255, 0.1) 100%);
background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0.1) 50%, transparent 50%, rgba(255, 255, 255, 0.1) 100%);
background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0.1) 50%, transparent 50%, rgba(255, 255, 255, 0.1) 100%);
background-image: linear-gradient(top, rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0.1) 50%, transparent 50%, rgba(255, 255, 255, 0.1) 100%);
border: 1px solid rgb(120, 120, 110);
}

#menu ul li:hover {
background-color: rgb(100, 100, 90);
background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.1) 0, rgba(255, 255, 255, 0.05) 50%, transparent 50%, rgba(255, 255, 255, 0.05) 100%);
background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.1) 0, rgba(255, 255, 255, 0.05) 50%, transparent 50%, rgba(255, 255, 255, 0.05) 100%);
background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.1) 0, rgba(255, 255, 255, 0.05) 50%, transparent 50%, rgba(255, 255, 255, 0.05) 100%);
background-image: linear-gradient(top, rgba(255, 255, 255, 0.1) 0, rgba(255, 255, 255, 0.05) 50%, transparent 50%, rgba(255, 255, 255, 0.05) 100%);
}

#menu ul li:active {
background-color: rgb(80, 80, 70);
box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.7);
}

#menu ul li:first-child {
border-radius: 5px 0 0 5px;
}

#menu ul li:last-child {
border-radius: 0 5px 5px 0;
}

#menu ul li a {
display: block;
padding: 0.5em 2em 0.5em 2em;
text-decoration: none;
color: rgb(255, 255, 255);
}

#main {
text-shadow: 1px 1px 0 rgb(255, 255, 255);
}

#leftbar {
float: left;
width: 180px;
margin-left: 10px;
margin-top: 10px;
margin-bottom: 10px;
padding-right: 10px;
border-right: 1px solid rgb(0, 0, 0);
}

#leftbar h3 {
margin-bottom: 10px;
}

#leftbar div {
margin-bottom: 10px;
}

#leftbar div:last-child {
margin: 0;
}

#content {
width: 610px;
float: left;
margin: 10px 0 10px 10px;
}

#content h2 {
margin-bottom: 10px;
}

#content div {
margin-bottom: 10px;
}

#content div:last-child {
margin: 0;
}

#rightbar {
width: 180px;
float: right;
padding-left: 10px;
margin-right: 10px;
margin-top: 10px;
border-left: 1px solid rgb(0, 0, 0);
}

#rightbar h3 {
margin-bottom: 10px;
}

#rightbar div {
margin-bottom: 10px;
}

#rightbar div:last-child {
margin: 0;
}

#footer {
clear: both;
width: 1002px;
text-align: center;
padding: 0.2em 0 0.2em 0;
border-radius: 5px 5px 5px 5px;
border: 1px solid rgb(120, 120, 110);
color: rgb(255, 255, 255);
text-shadow: 0 -2px 2px rgb(100, 100, 100), 0 4px 6px rgb(100, 100, 100);
background-color: rgb(110, 110, 100);
background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0.1) 50%, transparent 50%, rgba(255, 255, 255, 0.1) 100%);
background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0.1) 50%, transparent 50%, rgba(255, 255, 255, 0.1) 100%);
background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0.1) 50%, transparent 50%, rgba(255, 255, 255, 0.1) 100%);
background-image: linear-gradient(top, rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0.1) 50%, transparent 50%, rgba(255, 255, 255, 0.1) 100%);
box-shadow: inset -1px 0 1px rgba(255, 255, 255, 0.2), inset 1px 0 1px rgba(255, 255, 255, 0.2), inset 0 0 15px rgba(255, 255, 255, 0.2);
margin: 0 0 0 10px;
}
