<%# Copyright (C) <2012> <Bruenner Franz Josef, Fritsch Andreas> %>

<h2>Impressum</h2>

<div>
NewsMinds ist das Qualifikationsprojekt 2a der Studenten Brünner Franz Josef
und Fritsch Andreas im Studiengang MultiMediaTechnology im Wintersemester 2011
an der <a href="http://fh-salzburg.ac.at">Fachhochschule Salzburg</a>.

</div>