
<h2>Willkommen bei NewsMinds</h2>

<div id="about">NewsMinds ist eine Diskussionsplattform über aktuelle Themen. Die User wählen dabei jeden Tag neue Themen aus, die dann abhängig von der Stimmenanzahl und der Uhrzeit zu Tagesthemen erhoben werden. Themen können somit nur nach 12:00 Uhr bei entsprechend vielen Stimmen Tagesthemen werden. Bei einem Tagesthema können die User ihre Kommentare erstellen und andere Kommentare bewerten. Das Bewertungssystem stellt dabei das Besondere im Vergleich zu anderen Diskussionsplattformen dar, denn durch das Einordnen von Kommentaren wird ein Persönlichkeitsbild der User erstellt. Bei langfristiger Nutzung von NewsMinds erhählt der User nicht nur mehr Information über Tagesgeschehen, sondern eine Einblick über seine eigenes Ich.</div>

