
<h2>Willkommen bei NewsMinds</h2>

<div id="about">
NewsMinds ist eine Diskussionsplattform über aktuelle Themen.<br />
<br>
Die Userinnen und User wählen dabei jeden Tag neue Themen aus, die dann abhängig von der Stimmenanzahl und der Uhrzeit zu Tagesthemen erhoben werden. Themen können somit nur nach 12:00 Uhr bei entsprechend vielen Stimmen Tagesthemen werden.
<br />Bei einem Tagesthema können die Userinnen und User ihre Kommentare erstellen und andere Kommentare bewerten. <br />
<br />
Das Bewertungssystem stellt dabei das Besondere im Vergleich zu anderen Diskussionsplattformen dar, denn durch das Einordnen von Kommentaren wird ein Persönlichkeitsbild der Userinnen und User erstellt. Bei langfristiger Nutzung von NewsMinds erhählt die Userinnen oder der User nicht nur mehr Information über Tagesgeschehen und mehr Abstimmungsrechte bei der Themenwahl, sondern eine Einblick über sein eigenes Ich.
</div>
