<%# Copyright (C) <2012> <Bruenner Franz Josef, Fritsch Andreas> %>

<h2>Tagesthemenarchiv: </h2>

<% @top_stories.each do |story| %>
<div>
<h4><%= story.created_at.strftime('%a, %d.%m.') %></h4>
<%= link_to story.title, prev_days_path(story.id) %>
</div>
<% end %>
