

<div id="main">

<div id="content">
<h2>Tagesthema</h2>

			<table>
			<% if @latest_top_story != nil %>
				
			<tr><td><h4><%= raw @latest_top_story.title %></h4></td></tr><tr><td><%= raw @latest_top_story.description %></td></tr> 
			
			<% else %>
			    <tr><td>Es wurde noch kein Thema als Tagesthema gewählt</td></tr> 
			<% end %>

			</table>

			<hr />
</div>