
<div id="content">
<h2>vergangenes Tagesthema</h2>

<h1>Tagesthema vom <%= @top_stories[0].pubDate.slice(4..10) %></h1>
			<table>
			<tr><td><h4><%= raw @top_stories[0].title %></h4></td></tr><tr><td><%= raw @top_stories[0].description %></td></tr> 

			</table>
			<hr />
</div>
