<%# Copyright (C) <2012> <Bruenner Franz Josef, Fritsch Andreas> %>

<h2>Passwort ändern</h2>

<table>
<% form_for @user, :url => { :action => "newPassword" } do |u| %>

<tr><td> Altes Password eingeben, um neues zu erstellen:</td></tr>
<tr><td><input type="password" name="oldPassword" /></td></tr>
<tr><td><%= u.submit ' Neues Passwort ' %></td></tr>
<% end %>

<% form_for @user do |u| %>
<tr><td>Facebook-Email:</td></tr>
<tr><td><%= u.text_field :facebookEmail %></td></tr>
<tr><td><%= u.submit ' Ändern ' %></td></tr>
<% end %>
</table>
