<h2>Passwort ändern</h2>

<table>
<% form_for @user do |u| %>
  
<tr><td>Neues Passwort</td><td><%= u.password_field :password %></td></tr>

<tr><td><%= u.submit ' Ändern ' %></td><td></td></tr>
<% end %>
</table>