<table>
<% form_for(@post) do |p| %>

<%= hidden_field_tag(:id, @post.id) %>

<tr><td>Titel:</td><td><%= p.text_field :title %></td></tr>

<tr><td>Inhalt:</td><td><%= p.text_area :content %></td></tr>

<tr><td><%= p.submit ' Fertig ' %></td><td></td></tr>

<% end %>
</table>
